@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

html{
    font-size: 62.5%; /*16px * 62.5  = 10px  = 1rem*/
    box-sizing: border-box;
}
:root{
    --main-color:rgba(16, 104, 23, 0.733);
    --white:#fff;
    --hover-color:#ff8000;
}

body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0; padding: 0;
}

*{
    text-decoration: none;
    list-style: none;
}
a{
    color: var(--main-color);

}
a:hover{
    color: var(--hover-color);
    text-decoration: none;
}



.grid-container{  
    position: relative;  
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header{
    position: fixed;
    width: 100%;
    grid-area: header;
    background-color: #203040;
    color:var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.brand a{
    font-size: 2.5rem;
    font-weight: bold;
    color:var(--white);
}

.brand a:hover{
    color: var(--hover-color);
}
.header-links a{
    color: var(--white);
}
.header-links a:hover{
    color: var(--hover-color);
}

.main{
    grid-area: main;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products li {
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem solid #c0c0c0;
}

.product{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
}

.product-image{
    max-width: 34rem;
    max-height: 34rem;
}

.product-name{
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
}

.product-brand{
    font-size: 1.2rem;
    color: #808080;
}

.product-price{
    font-size: 2rem;
    font-weight: bold;
}

.product-rating{
    margin-bottom: 1rem;
}

/* Sidebar */

.brand button{
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
}

.sidebar{
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: #f0f0f0;
    height: 100%;
    
}

.sidebar h3{
	display: flex;
	padding-top: 4rem;
	text-transform: uppercase;
	justify-content:center;
    align-items: center;
}

/*.sidebar ul{
	display: flex;
	flex-direction: column;
	padding: 2.5rem;
	text-transform: uppercase;
	justify-content:center;
    align-items: center;
}*/

.sidebar ul li{
	display: flex;
	flex-direction: column;
	padding: 2rem;
	text-transform: uppercase;
	justify-content:center;
    align-items: center;
}

.sidebar.open{
    transform: translateX(0);
}
.sidebar-close-btn{
    border-radius: 50%;
    border: .1rem #000 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}

/*-------------footer-------------*/
.footer{
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    grid-area: footer;
    background-color: #203040;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
	
